<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-8 my-16 relative">
        <!-- Illustration behind hero content -->
        <div class="absolute hidden lg:block pointer-events-none" style="top: -50px; right: 50px; z-index: 1" aria-hidden="true" data-aos="fade-up" data-aos-delay="600">
            <img class="max-w-full" width="800" height="400" src="/assets/om7-bg-3.svg">

        </div>
        <!-- CTA box -->
        <div class="py-10 px-8 md:py-16 md:px-12 relative" style="z-index: 100">
            <div class="flex flex-col lg:flex-row justify-between items-center">

                <!-- CTA content -->
                <div class="mb-6 lg:mr-16 lg:mb-0 text-center lg:text-left lg:w-3/4">
                    <h3 class="font-bold text-2xl mb-2">Gerne geben wir Ihnen eine Online-Demo.</h3>
                    <p class="text-gray-400 text-lg">Rufen Sie uns an oder schreiben Sie uns. Wir melden uns umgehend bei Ihnen.</p>
                </div>

                <!-- CTA button -->
                <div class="w-full lg:w-1/4 flex justify-center lg:justify-end">
                    <a class="px-10 rounded py-4 bg-indigo-500 hover:bg-indigo-600 no-underline text-white" style="color:#fff" href="contact.html">Kontaktieren Sie uns</a>
                </div>

            </div>
        </div>

    </div>
</section>
