{{!< default}}

<!-- Page content -->
<main class="flex-grow">
    <!-- Page illustration -->
    <div class="relative max-w-6xl mx-auto h-0 pointer-events-none" aria-hidden="true">
        <img class="absolute top-0 right-0 transform translate-x-1/2 -mr-16" width="800" height="800" src="/assets/om7-bg-2.svg">
    </div>

    <section class="relative">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 relative">

            <!-- Illustration behind hero content -->
            <div class="absolute hidden lg:block pointer-events-none" style="top: 100px; left: 75px" aria-hidden="true" data-aos="fade-up" data-aos-delay="600">
                <img class="max-w-full" style="opacity: 0.62" width="800" height="700" src="/assets/om7-bg-1.svg">

            </div>

            <!-- Hero content -->
            <div class="relative pt-32 pb-12 md:pt-40 md:pb-20">
                <!-- Content -->
                <div class="max-w-3xl mx-auto text-center pb-10 md:pb-12">
                    <h1 class="h1 mb-4 text-6xl font-bold" data-aos="fade-up">Professionelles Energiemanagement</h1>
                    <p class="text-xl text-green-600" data-aos="fade-up" data-aos-delay="200">Management von elektrischer Energie, Alarmierung und Umgebungs-Sensorik im Rechenzentrum. Flexibel und auf hochgradige Automatisierung ausgelegt, intuitiv zu bedienen, kosteneffizient skalierbar.</p>
                </div>
                <!-- Image -->
                <img class="mx-auto" src="/assets/om7-app-3.png" width="768" height="432" alt="Hero" data-aos="fade-up" data-aos-delay="400" />
            </div>

        </div>
    </section>

    <section>
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="py-12 md:py-20">

                <!-- Section header -->
                <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                    <h2 class="h2 mb-4 font-bold text-4xl">Betriebssicherheit für Rechenzentren und Unternehmens-IT</h2>
                    <p class="text-xl text-gray-400">Die Om7Sense Energiemanagement-Lösung erkennt und alarmiert bei Schwellwertüberschreitungen an PDUs, Meßgeräten und Sensoren.  Entdecken Sie kleine Abweichungen rechtzeitig bevor daraus große Probleme werden.
    </p>
                </div>

                <!-- Items -->
                <div class="max-w-sm mx-auto grid gap-8 md:grid-cols-2 lg:grid-cols-3 lg:gap-16 items-start md:max-w-2xl lg:max-w-none" data-aos-id-blocks>

                    <!-- 1st item -->
                    <div class="relative flex flex-col items-center" data-aos="fade-up" data-aos-anchor="[data-aos-id-blocks]">
                        <div class="icon-list">
                            <i class="fas fa-clock"></i>
                        </div>

                        <h4 class="text-2xl font-bold mb-2">Uptime sicherstellen</h4>
                        <p class="text-lg text-gray-400 text-center">Om7Sense unterstützt Sie dabei Überlastungen Ihrer Energieversorgung zu vermeiden und Ihre Betriebs-Sicherheit zu gewährleisten.</p>
                    </div>

                    <!-- 2nd item -->
                    <div class="relative flex flex-col items-center" data-aos="fade-up" data-aos-delay="100" data-aos-anchor="[data-aos-id-blocks]">
                        <div class="icon-list green">
                            <i class="fas fa-eye"></i>
                        </div>
                        <h4 class="text-2xl font-bold mb-2">Skalierbar</h4>
                        <p class="text-lg text-gray-400 text-center">Vom einzelnen Rack über das Edge-RZ bis zum großen Rechenzentrum, kosteneffizientes Energiemanagement für alle.</p>
                    </div>

                    <!-- 3rd item -->
                    <div class="relative flex flex-col items-center" data-aos="fade-up" data-aos-delay="200" data-aos-anchor="[data-aos-id-blocks]">
                        <div class="icon-list purple">
                            <i class="fas fa-seedling"></i>
                        </div>
                        <h4 class="text-2xl font-bold mb-2">Wachstum fördern</h4>
                        <p class="text-lg text-gray-400 text-center">Om7Sense unterstützt Sie bei der Kapazitätsplanung. Optimieren Sie die Auslastung Ihrer Racks ohne dabei das Risiko der Überlastung einzugehen.</p>
                    </div>

                    <!-- 4th item -->
                    <div class="relative flex flex-col items-center" data-aos="fade-up" data-aos-delay="300" data-aos-anchor="[data-aos-id-blocks]">
                       <div class="icon-list purple">
                            <i class="fas fa-lightbulb"></i>
                        </div>
                        <h4 class="text-2xl font-bold mb-2">Energie einsparen</h4>
                        <p class="text-lg text-gray-400 text-center">Mit Om7Sense sparen Sie Energie in Ihrem Unternehmen: Optimieren Sie anhand der Temperatur- und Luftfeuchte-Werte den Energieverbrauch der Klimaanlage.</p>
                    </div>

                    <!-- 5th item -->
                    <div class="relative flex flex-col items-center" data-aos="fade-up" data-aos-delay="400" data-aos-anchor="[data-aos-id-blocks]">
                        <div class="icon-list">
                            <i class="fas fa-cogs"></i>
                        </div>
                        <h4 class="text-2xl font-bold mb-2">Effizienz steigern</h4>
                        <p class="text-lg text-gray-400 text-center">Verschwenden Sie keine Zeit bei der Fehlersuche. Empfangen sie Alarm-Emails mit der Angabe der Fehlerquelle.</p>
                    </div>

                    <!-- 6th item -->
                    <div class="relative flex flex-col items-center" data-aos="fade-up" data-aos-delay="500" data-aos-anchor="[data-aos-id-blocks]">
                        <div class="icon-list green">
                            <i class="fas fa-clipboard-check"></i>
                        </div>
                        <h4 class="text-2xl font-bold mb-2">Dokumentieren</h4>
                        <p class="text-lg text-gray-400 text-center">Vereinfachen Sie mit individuellen Berichten die Erstellung der Dokumentation, z.B. über die Einhaltung der Differenzstrom-Grenzwerte und die Störungsbeseitigung.</p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="py-12 md:py-20">

                <!-- Section header -->
                <div class="max-w-3xl mx-auto text-center pb-12 md:pb-16">
                    <h1 class="mb-4 font-bold text-4xl">Flexibel. Anpassungsfähig. Sicher.</h1>
                    <p class="text-xl text-gray-400">Om7Sense ist eine Software-Lösung die sich nahtlos in die moderne RZ-Landschaft einfügt. Nach modernsten Gesichtspunkten entwickelt. Verfügbar als vmware-Image, Docker-Image (Kubernetes) oder Linux-Anwendung.</p>
                </div>

                <!-- Items -->
                <div class="grid gap-20">

                    <!-- 1st item -->
                    <div class="md:grid md:grid-cols-12 md:gap-6 items-center">
                        <!-- Image -->
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-5 lg:col-span-6 mb-8 md:mb-0 md:order-1" data-aos="fade-up">
                            <img class="max-w-full mx-auto md:max-w-none h-auto" src="/assets/om7-feature-1.png" width="540" height="405" alt="Features 01" />
                        </div>
                        <!-- Content -->
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-7 lg:col-span-6" data-aos="fade-right">
                            <div class="md:pr-4 lg:pr-12 xl:pr-16">
                                <div class="text-xl text-green-600 mb-2">Kostenreduktion, Energieeffizienz,
    Nachhaltigkeit</div>
                                <h3 class="text-3xl font-bold mb-3">Green IT in Ihrem
    Rechenzentrum</h3>
                                <p class="text-xl text-gray-400 mb-4">Die Messung und Analyse des Energieverbrauchs
    in Rechenzentren bietet das größte Kostensparpotenzial
    und wurde deshalb zum
    zentralen Fokus von Managern und Analysten.</p>
                                <ul class="text-lg text-gray-400 -mb-2">
                                    <li class="flex items-center mb-2">
                                        <svg class="w-3 h-3 fill-current text-green-500 mr-2 flex-shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z" />
                                        </svg>
                                        <span>Kostenreduktion</span>
                                    </li>
                                    <li class="flex items-center mb-2">
                                        <svg class="w-3 h-3 fill-current text-green-500 mr-2 flex-shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z" />
                                        </svg>
                                        <span>Energieeffizienz</span>
                                    </li>
                                    <li class="flex items-center">
                                        <svg class="w-3 h-3 fill-current text-green-500 mr-2 flex-shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z" />
                                        </svg>
                                        <span>Nachhaltigkeit</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 2nd item -->
                    <div class="md:grid md:grid-cols-12 md:gap-6 items-center">
                        <!-- Image -->
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-5 lg:col-span-6 mb-8 md:mb-0 md:rtl" data-aos="fade-up">
                            <img class="max-w-full mx-auto md:max-w-none h-auto" src="/assets/om7-app-2.jpg" width="540" height="405" alt="Features 02" />
                        </div>
                        <!-- Content -->
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-7 lg:col-span-6" data-aos="fade-left">
                            <div class="md:pl-4 lg:pl-12 xl:pl-16">
                                <div class="text-xl text-green-600 mb-2">Übersichtliche Darstellung</div>
                                <h3 class="text-3xl font-bold mb-3">Rechenzentrums-Ansicht</h3>
                                <p class="text-xl text-gray-400 mb-4">Die Darstellung von geographischen und
    funktionellen Einheiten ermöglicht dem
    Benutzer auch bei großen Installationen immer
    den Überblick darüber zu behalten, in welchem
    Rechenzentrum, Raum, Rackreihe, Rack er
    gerade arbeitet.</p>
                                <ul class="text-lg text-gray-400 -mb-2">
                                    <li class="flex items-center mb-2">
                                        <svg class="w-3 h-3 fill-current text-green-500 mr-2 flex-shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z" />
                                        </svg>
                                        <span>Einfacher Überblick</span>
                                    </li>
                                    <li class="flex items-center mb-2">
                                        <svg class="w-3 h-3 fill-current text-green-500 mr-2 flex-shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z" />
                                        </svg>
                                        <span>Schnelle Organisation</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 3rd item -->
                    <div class="md:grid md:grid-cols-12 md:gap-6 items-center">
                        <!-- Image -->
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-5 lg:col-span-6 mb-8 md:mb-0 md:order-1" data-aos="fade-up">
                            <img class="max-w-full mx-auto md:max-w-none h-auto" src="/assets/om7-app-3.jpg" width="540" height="405" alt="Features 03" />
                        </div>
                        <!-- Content -->
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-7 lg:col-span-6" data-aos="fade-right">
                            <div class="md:pr-4 lg:pr-12 xl:pr-16">
                                <div class="text-xl text-green-600 mb-2">Jederzeit im Blick</div>
                                <h3 class="text-3xl font-bold mb-3">Das große Ganze</h3>
                                <p class="text-xl text-gray-400 mb-4">Der PUE Wert, die Messlatte für den Vergleich des energetischen Wirkungsgrads von Rechenzentren. Mit Om7Sense immer die aktuellen Messergebnisse zur Hand und Klarheit über die Erreichung der gesteckten Ziele. </p>
                                <ul class="text-lg text-gray-400 -mb-2">
                                    <li class="flex items-center mb-2">
                                        <svg class="w-3 h-3 fill-current text-green-500 mr-2 flex-shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z" />
                                        </svg>
                                        <span>Messbarer Fortschritt</span>
                                    </li>
                                    <li class="flex items-center mb-2">
                                        <svg class="w-3 h-3 fill-current text-green-500 mr-2 flex-shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z" />
                                        </svg>
                                        <span>Gemeinsame Ziele</span>
                                    </li>
                                    <li class="flex items-center">
                                        <svg class="w-3 h-3 fill-current text-green-500 mr-2 flex-shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z" />
                                        </svg>
                                        <span>Teamwork</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="py-12 md:py-20">

                <!-- Section header -->
                <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                    <h2 class="text-4xl font-bold" data-aos="fade-up">Om7Sense – Unterstützung bei Ihrer tägliche Arbeit für alle Funktionen.</h2>
                </div>

                <!-- Items -->
                <div class="grid gap-20" data-aos-id-target>

                    <!-- Item -->
                    <div class="md:grid md:grid-cols-12 md:gap-6 items-center">

                        <!-- Image -->
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-5 lg:col-span-6 mb-8 md:mb-0 md:rtl" data-aos="fade-right" data-aos-delay="200" data-aos-anchor="[data-aos-id-target]">
                            <img class="mx-auto md:max-w-none" src="/assets/features-02-image.png" width="540" height="520" alt="Features 02" />
                        </div>

                        <!-- Content -->
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-7 lg:col-span-6">
                            <div class="md:pl-4 lg:pl-12 xl:pl-16">
                                <div class="text-xl text-green-600 mb-2" data-aos="fade-left" data-aos-anchor="[data-aos-id-target]">Wir sind hier zu helfen</div>
                                <div class="mt-6" data-aos="fade-left" data-aos-delay="200" data-aos-anchor="[data-aos-id-target]">
                                    <h4 class="text-2xl font-bold mb-2"><span class="text-purple-600">.</span> Für Installations- und Service Techniker</h4>
                                    <p class="text-lg text-gray-400">Betrieb und Verfügbarkeit sichern, frühzeitig alarmiert werden, Schieflasten erkennen, Lasten gleichmäßig verteilen.</p>
                                </div>
                                <div class="mt-6" data-aos="fade-left" data-aos-delay="400" data-aos-anchor="[data-aos-id-target]">
                                    <h4 class="text-2xl font-bold mb-2"><span class="text-teal-500">.</span> Für RZ-Planer</h4>
                                    <p class="text-lg text-gray-400">Vorhandene Kapazität auslasten, Zuwachs auf Basis historischer und aktueller Daten planen.</p>
                                </div>
                                <div class="mt-6" data-aos="fade-left" data-aos-delay="600" data-aos-anchor="[data-aos-id-target]">
                                    <h4 class="text-2xl font-bold mb-2"><span class="text-pink-500">.</span> Für RZ-Manager</h4>
                                    <p class="text-lg text-gray-400">Investitionen auf Basis gesicherter Daten planen, Energieeffizienz-Ziele erreichen.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    {{> "contact"}}

</main>


<div class="gh-page">
    <div class="gh-container">

        <div class="gh-postfeed">
        {{#foreach posts visibility="all"}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>
